@charset "utf-8";
/*
 * Glimmer Dessert
 * Copyright 2023
 * Alicia
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 * Utility ............ Set some tools style
 */

/* -------------------------- *\
	Globel
\* -------------------------- */
* {
	box-sizing: border-box;
	position: relative;
}

html,
body {
	font-family: '微軟正黑體', arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}


/* -------------------------- *\
	Layout
\* -------------------------- */
/* grid system */
.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

@media screen and (max-width: 540px) {
	.container {
		padding-left: 76px;
		padding-right: 32px;
	}
}

.row {
	margin-left: -16px;
	margin-right: -16px;
}

.row:after {
	content: '';
	display: block;
	clear: both;
}

.col-lg-6,
.col-lg-4,
.col-lg-3,
.col-lg-12,
.col-md-6,
.col-md-4,
.col-md-3,
.col-md-12,
.col-sm-6,
.col-sm-4,
.col-sm-3,
.col-sm-12 {
	/*border: 1px solid red;*/
	float: left;
	padding-left: 16px;
	padding-right: 16px;
}

.col-lg-3 {
	width: 25%;
}

.col-lg-4 {
	width: 33.3333333%;
}

.col-lg-6 {
	width: 50%;
}

.col-lg-12 {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.3333333%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media screen and (max-width: 540px) {
	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.3333333%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-12 {
		width: 100%;
	}
}


/* -------------------------- *\
	Component
\* -------------------------- */

/* btn */
.btn {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 4px 16px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}

/* 主要的按鈕 */
.btn.btn-primary {
	background-color: #d5a26f;
	border: 1px solid #d5a26f;
	color: #fff;
}

.btn.btn-primary:hover {
	background-color: #b2875c;
	border: 1px solid #b2875c;
}

/* 次要的按鈕 */
.btn.btn-secondary {
	border: 1px solid #d5a26f;
	color: #d5a26f;
}

.btn.btn-secondary:hover {
	background-color: #d5a26f;
	color: #fff;
}

/* 大小的設定 */
.btn.btn-lg {
	padding: 8px 32px;
}

.btn-group-center {
	text-align: center;
}

.btn-group-center .btn {
	margin-left: 12px;
	margin-right: 12px;
}

.btn-group-right {
	text-align: right;
}

.btn-group-right .btn {
	margin-left: 24px;
}

@media screen and (max-width: 540px) {
	.btn-group-center {
		display: flex;
		flex-direction: column;
		width: 240px;
		margin: 0 auto;
	}

	.btn-group-center .btn {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 24px;
	}

	.btn-group-center .btn:last-child {
		margin-bottom: 0;
	}
	.btn-more{
		margin-top: 2%;
	}
}

/* image container */
.image-container {
	width: 100%;
}

.image-container:before {
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}

.image-container .image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* mask-dark */
.mask-dark {
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* hero */
.hero {
	padding-top: 120px;
	padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
	.hero {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.hero.hero-bg-white {
	background-color: #fefefe;
}

.hero.hero-bg-grey {
	background-color: #efefef;
}

/* navbar */
.navbar {
	height: 64px;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 500;
	width: 100%;
	left: 0;
	top: 0;
}

.navbar .brand {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 64px;
	background-image: url('../images/common/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	/*color: #fff;*/
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

.navbar .nav {
	float: right;
}

.navbar .nav .nav-item {
	float: left;
}

.navbar .nav .nav-link {
	display: block;
	color: #fff;
	line-height: 24px;
	padding: 20px 16px;
	transition: color 0.3s;
}

.navbar .nav .nav-link:hover {
	color: #d5a26f;
}

.navbar .nav .nav-item.active .nav-link {
	color: #d5a26f;
}

@media screen and (max-width: 768px) {
	.navbar .nav {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 500;

		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}

	/*#popup-menu:target{
		opacity: 1;
		visibility: visible;
	}*/
	.navbar .nav.active {
		opacity: 1;
		visibility: visible;
	}

	.navbar .nav .nav-link {
		text-align: center;
		padding: 16px;
	}
}

/* menu-toggle */
.navbar .menu-toggle {
	width: 48px;
	height: 48px;
	float: right;
	margin-top: 8px;
	display: none;
	z-index: 600;
}

@media screen and (max-width: 768px) {
	.navbar .menu-toggle {
		display: inline-block;
	}
}

.navbar .menu-toggle span {
	display: block;
	width: 32px;
	height: 2px;
	background-color: #d5a26f;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: all 0.3s;
}

.navbar .menu-toggle span:nth-child(1) {
	top: 12px;
}

.navbar .menu-toggle.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .menu-toggle span:nth-child(2) {
	top: 22px;
}

.navbar .menu-toggle.active span:nth-child(2) {
	opacity: 0;
}

.navbar .menu-toggle span:nth-child(3) {
	top: 32px;
}

.navbar .menu-toggle.active span:nth-child(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* close-btn */
.navbar .close-btn {
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
}

@media screen and (max-width: 768px) {
	.navbar .close-btn {
		display: block;
	}
}

.navbar .close-btn span {
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #d5a26f;
	top: 50%;
	left: 50%;
}

.navbar .close-btn span:nth-child(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .close-btn span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* jumbotron */
.jumbotron {
	padding-top: 224px;
	padding-bottom: 160px;
	background-size: cover;
	background-attachment: fixed;
}

@media screen and (max-width: 768px) {
	.jumbotron {
		padding-top: 144px;
		padding-bottom: 80px;
	}
}

.jumbotron .mask-dark {
	background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron .logo-image {
	width: 320px;
	height: 320px;
	/*border: 1px solid #000;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.jumbotron .logo-image {
		width: 200px;
		height: 200px;
	}
}

/*.jumbotron .btn-group-center{
	margin: 8px;
}*/

/* about-preview */
@media screen and (max-width: 768px) {
	.about-preview {
		margin: 24px 24px 48px 24px;
	}

	.about-preview .btn {
		margin-left: 0px;
	}
}

.about-preview .title {
	font-size: 28px;
	color: #d5a26f;
	margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
	.about-preview .title {
		margin-top: 0px;
	}
}

@media screen and (max-width: 416px) {
	.about-preview .title {
		margin-top: -20%;
	}

	#about .image-container .image {
		margin-top: 85%;
		margin-left: 5%;
		width: 90%;
	}
}

.about-preview .para {
	color: #333;
	font-size: 14px;
	line-height: 32px;
	text-align: justify;
	margin-bottom: 24px;
	max-height: 120px;
	overflow: hidden;
	transition: all ease 1s;
}

.active .para {
	max-height: 320px;
}

/* section-intro */
.section-intro {
	text-align: center;
	margin-bottom: 40px;
}

.section-intro .title {
	font-size: 48px;
	color: #d5a26f;
	margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
	.section-intro .title {
		font-size: 32px;
	}
}

.section-intro .para {
	font-size: 16px;
	line-height: 32px;
	color: #333;
	max-width: 480px;
	margin: 0 auto;
}

/* menu-list */
.menu-list {
	margin-bottom: 64px;
}

.menu-list:last-child {
	margin-bottom: 0;
}

.menu-list .title-bar {
	margin-bottom: 24px;
}

.menu-list .title-bar:after {
	content: '';
	display: block;
	clear: both;
}

.menu-list .title-bar .title {
	font-size: 24px;
	line-height: 40px;
	color: #d5a26f;
	float: left;
	padding-left: 16px;
}

.menu-list .title-bar .title:before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 24px;
	background-color: #d5a26f;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

.menu-list .title-bar .btn {
	float: right;
	padding-top: 8px;
	padding-bottom: 8px;
}

.menu-list .list-item .image-container:before {
	padding-top: 100%;
}

.menu-list .list-item .title {
	font-size: 18px;
	color: #333;
	line-height: 24px;
	margin-bottom: 8px;
	margin-top: 16px;
}

.menu-list .list-item .subtitle {
	font-size: 14px;
	color: #d5a26f;
}

/* silder plugin setting*/
.owl-theme .owl-dots {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

@media (max-width: 768px) {
	.owl-theme .owl-dots {
		margin-bottom: 24px;
	}

	.image-container .image {
		width: 160px;
		height: 160px;
		margin-bottom: 10%;
	}

	
	.list-item{
		margin-left: 35%;
	}

	.list-item .image {
		position: relative;
	}

	/* .list-item .title {
		position: absolute;
	} */
	.list-item .subtitle{
		display: none;
	}

}

.owl-theme .owl-dots button.owl-dot {
	width: 15px;
	height: 15px;
	margin: 0 4px;
	border-radius: 50%;
	background-color: #ccc;
	outline: none;
}

.owl-theme .owl-dots button.owl-dot.active {
	background-color: #d5a26f;
}

.owl-theme .owl-nav {
	position: absolute;
	left: 0;
	top: calc((100% - 106px) / 2);
	width: 100%;
}

.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d5a26f;
	outline: none;
	color: #fff;
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.5);
	position: absolute;
	transform: translate(0, -50%);

	opacity: 0.5;
	transition: all 0.3s;
}

.owl-theme:hover .owl-nav button.owl-prev,
.owl-theme:hover .owl-nav button.owl-next {
	opacity: 1;
}

@media (max-width: 768px) {

	.owl-theme .owl-nav button.owl-prev,
	.owl-theme .owl-nav button.owl-next {
		opacity: 1;
	}
}

@media (max-width: 416px) {
	.image-container:before {
		margin-top: -100%;
	}

	.owl-theme .owl-nav button.owl-prev,
	.owl-theme .owl-nav button.owl-next {
		display: hidden;
	}
}

.owl-theme .owl-nav button.owl-prev {
	left: -16px;
}

.owl-theme .owl-nav button.owl-next {
	right: -16px;
}

/* reservation */
.reservation {
	background-image: url('/images/bg01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 12%;
}

.reservation .section-intro .title,
.reservation .section-intro .para {
	color: #fff;
}

/* 預約問答 開合卡片 */
.collapse-container {
	margin: 5% 10%;
	width: 80%;
	border: 1px solid #df9c63;
	border-radius: 20px;
	border-top: 0;
	cursor: pointer;
}

.collapse-container .collapse-content {
	display: none;
	padding-left: 24px;
}

.collapse-container .collapse-title {
	display: block;
	position: relative;
	margin: 0;
	padding: 10px 36px;
	border-top: 1px solid #df9c63;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
}

.collapse-container .collapse-title:hover,
.collapse-container .collapse-title:active,
.collapse-container .collapse-box.active .collapse-title {
	background-color: #df9c63;
	color: white;
}

.collapse-container .collapse-title:hover i:before,
.collapse-container .collapse-title:hover i:active,
.collapse-container .collapse-box.active i {
	color: white;
	left: 16px;
}

.collapse-container .collapse-box i {
	position: absolute;
	top: 8px;
	left: 12px;
	font-style: normal;
	font-size: 24px;
	color: #df9c63;
}

.collapse-container .collapse-box i:before {
	content: '+ ';
}

.collapse-container .collapse-box.active i:before {
	content: '- ';
}

.collapse-content p {
	font-size: 16px;
	line-height: 32px;
	margin: 20px 0;
	color: #fff;
	width: 90%;
}

/* contact-info */
.contact-info {
	padding-top: 40px;
}

.contact-info .info-item {
	margin: 0 0 24px 48px;
}

.contact-info .info-item .title {
	color: #d5a26f;
	line-height: 36px;
	margin-bottom: 16px;
}

.contact-info .info-item .title span {
	border-bottom: 2px solid #d5a26f;
	display: inline-block;
}

.contact-info .info-item .info {
	line-height: 32px;
	color: #333;
}

@media (max-width: 768px) {

	.info-item .info,
	h4,
	a {
		display: flex;
		justify-content: center;
		margin: 0 0 10% -20%;
	}
}

/* map-container */
.map-container {
	width: 100%;
	padding-top: 75%;
}

.map-container iframe {
	position: absolute;
	left: 0;
	top: 0;
}

/* footer */
.footer {
	background-image: url('/images/bg02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.footer .brand {
	display: block;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	background-image: url('../images/common/logo-w.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

@media screen and (max-width: 540px) {
	.footer .brand {
		width: 200px;
		height: 200px;
	}
}

.footer .nav {
	display: flex;
	justify-content: center;
}

.footer .nav .nav-link {
	color: #fefefe;
	display: block;
	padding: 24px;
	line-height: 24px;
	transition: all 0.3s;
}

.footer .nav .nav-link:hover {
	color: #d5a26f;
}

@media screen and (max-width: 540px) {
	.nav {
		margin-left: 5%;
	}
}

.footer .copyright {
	background-color: rgba(0, 0, 0, 0.8);
	color: #ccc;
	text-align: center;
	line-height: 24px;
	padding: 16px 0;
	font-size: 14px;
}

/* parallax */
.rellax {
	position: absolute;
}

@media (max-width: 1024px) {
	.rellax {
		display: none;
	}
}

.parallax-1 {
	width: 30%;
	left: 0;
	top: -10%;
}

.parallax-2 {
	width: 22%;
	right: 0;
	top: -15%;
}

.parallax-3 {
	width: 30%;
	left: -10%;
	bottom: 60%;
}

.parallax-4 {
	width: 40%;
	right: -15%;
	bottom: -10%;
}

/* evaluation page */
/* page title */
.page-title {
	padding-top: 224px;
	padding-bottom: 160px;
	background-image: url('../images/bg/bg001.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.page-title .section-intro {
	margin-bottom: 0;
}

.page-title .section-intro .title,
.page-title .section-intro .para {
	color: #fff;
}

/* masonry */
.masonry-row {
	margin-right: -16px;
	margin-left: -16px;
}

.masonry-col {
	padding-left: 16px;
	padding-right: 16px;
	width: 33.333333%;
}

@media (max-width: 768px) {
	.masonry-col {
		width: 50%;
	}
}

@media (max-width: 540px) {
	.masonry-col {
		width: 100%;
	}
}

/* evaluation card */
.eval-card {
	padding: 16px;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	margin-bottom: 32px;
	width: 100%;
}

.eval-card .image {
	display: inline-block;
	width: 100%;
	margin-bottom: 16px;
}

.eval-card .para {
	font-size: 16px;
	line-height: 32px;
}


/* -------------------------- *\
	Utility
\* -------------------------- */
.lg-hidden {
	display: none;
}

@media screen and (max-width: 768px) {
	.lg-hidden {
		display: block;
	}

	.lg-display {
		display: none;
	}
}